name: CI Pipeline

on:
  push:
    branches: [main, develop]
  pull_request:

env:
  REGISTRY: docker.io
  USERNAME: franperrone
  IMAGE_BACK: ${{ vars.REGISTRY }}/${{ vars.USERNAME }}/tpi-back
  IMAGE_FRONT: ${{ vars.REGISTRY }}/${{ vars.USERNAME }}/tpi-front

jobs:
  build-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: back
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ejecutar tests
        run: |
          source venv/bin/activate
          pytest

  build-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: front
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Validar estructura del frontend
        run: |
          echo "Archivos en front/"
          ls -la

# CD:
  docker-publish:
    needs: [build-backend, build-frontend]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build backend image
        run: docker build -t $IMAGE_BACK:latest ./back

      - name: Build frontend image
        run: docker build -t $IMAGE_FRONT:latest ./front

      - name: Push backend image
        run: docker push $IMAGE_BACK:latest

      - name: Push frontend image
        run: docker push $IMAGE_FRONT:latest

  deploy-staging:
    needs: [docker-publish]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to staging (placeholder)
        run: |
          echo "Desplegando en entorno de staging..."
          echo "Usando DB: ${{ secrets.STAGING_DB_URL }}"
          echo "Clave secreta: ${{ secrets.SECRET_KEY }}"